.oreo {
    background-color: black;
    color: white;
    font-family: Georgia, monospace;
}

.sauce {
    background-color: red;
    color: lightyellow;
    font-family: Georgia, monospace;
}

.bbq {
    background-color: brown;
    color: burlywood;
    font-family: Georgia, monospace;
}